<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhadantexiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,564},{88,88}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,116},{88,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zhadantexiao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,564},{148,148}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,85},{148,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zhadantexiao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,248}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,52},{270,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zhadantexiao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{268,250}}</string>
                <key>offset</key>
                <string>{5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,50},{268,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zhadantexiao05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{266,254}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,46},{266,254}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zhadantexiao06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{260,254}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,46},{260,254}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zhadantexiao07.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,188},{188,194}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,61},{188,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zhadantexiao08.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,378},{184,188}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,58},{184,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zhadantexiao09.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{184,200}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,51},{184,200}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhadantexiao.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cced2c69f4b4f05918c6dd61ceb4a2fa$</string>
            <key>textureFileName</key>
            <string>zhadantexiao.png</string>
        </dict>
    </dict>
</plist>
