<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daoju_xuanfeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{77,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{77,77}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>daoju_xuanfeng_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dansebaokai.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84ad59fd6ecb4268edb1d804c5543b9e$</string>
            <key>textureFileName</key>
            <string>dansebaokai.png</string>
        </dict>
    </dict>
</plist>
