<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daojuxuanze1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{124,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,39},{124,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>daojuxuanze10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{118,126}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,33},{118,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>daojuxuanze11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,120},{100,138}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,27},{100,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>daojuxuanze12.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,128},{58,76}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,67},{58,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>daojuxuanze2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{132,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,39},{132,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>daojuxuanze3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,338},{118,106}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,51},{118,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>daojuxuanze4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,366},{112,118}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{112,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>daojuxuanze5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,222},{114,128}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,47},{114,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>daojuxuanze6.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,128},{128,130}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,42},{128,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>daojuxuanze7.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{140,124}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,43},{140,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>daojuxuanze8.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{150,116}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,39},{150,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>daojuxuanze9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,118}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,38},{168,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daojuxuanze.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80eecb9df4eb849f13b09c2136eaf786$</string>
            <key>textureFileName</key>
            <string>daojuxuanze.png</string>
        </dict>
    </dict>
</plist>
