<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hongxin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,168},{53,47}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{53,47}}</string>
                <key>sourceSize</key>
                <string>{105,89}</string>
            </dict>
            <key>hongxinxiaochulizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{60,72}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,58},{60,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hongxinxiaochulizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,56},{68,64}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,71},{68,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hongxinxiaochulizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,54}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,66},{80,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hongxinxiaochulizi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,174},{58,44}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,77},{58,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hongxinxiaochulizi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{42,60}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,74},{42,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hongxinxiaochulizi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{52,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,71},{52,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hongxinxiaochulizi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{52,72}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,67},{52,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hongxinxiaochulizi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,68},{56,66}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,75},{56,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hongxinxiaochulizi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,126},{40,48}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,81},{40,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xinguangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{72,64}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,69},{72,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hongxingzengjia2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14af3b1e305253c5e667dd4ec55751b0$</string>
            <key>textureFileName</key>
            <string>hongxingzengjia2.png</string>
        </dict>
    </dict>
</plist>
