<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,270},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>d.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,246},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>g.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,260},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>i.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,246},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>l.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,246},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>loadingbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,242}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>loadingcaomei.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,284},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>loadingeyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,246},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,38}}</string>
                <key>sourceSize</key>
                <string>{52,38}</string>
            </dict>
            <key>loadinghand.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,270},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>loadingpanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{92,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,108}}</string>
                <key>sourceSize</key>
                <string>{92,108}</string>
            </dict>
            <key>n.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,286},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>o.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,286},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading02.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55fc719867d175dc04fe1372d08ceddc$</string>
            <key>textureFileName</key>
            <string>loading02.png</string>
        </dict>
    </dict>
</plist>
