<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panda_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,922},{43,43}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{43,43}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>shouping_caomei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{576,585}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{576,585}}</string>
                <key>sourceSize</key>
                <string>{582,597}</string>
            </dict>
            <key>shouping_dian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{151,152}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,50},{151,152}}</string>
                <key>sourceSize</key>
                <string>{171,232}</string>
            </dict>
            <key>shouping_dian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,589},{207,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{207,208}}</string>
                <key>sourceSize</key>
                <string>{263,232}</string>
            </dict>
            <key>shouping_dian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{147,152}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,54},{147,152}}</string>
                <key>sourceSize</key>
                <string>{173,232}</string>
            </dict>
            <key>shouping_dian_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{517,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{517,331}}</string>
                <key>sourceSize</key>
                <string>{537,341}</string>
            </dict>
            <key>shouping_panda.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,799},{146,167}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{146,167}}</string>
                <key>sourceSize</key>
                <string>{170,187}</string>
            </dict>
            <key>shouping_panda1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,799},{146,167}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{146,167}}</string>
                <key>sourceSize</key>
                <string>{170,187}</string>
            </dict>
            <key>shouping_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>shouping_yiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,799},{172,109}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,19},{172,109}}</string>
                <key>sourceSize</key>
                <string>{198,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logo.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4d5de14f0b5eaab70e2e1f34db46aba$</string>
            <key>textureFileName</key>
            <string>logo.png</string>
        </dict>
    </dict>
</plist>
