<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>linght.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>starbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,254}}</string>
                <key>sourceSize</key>
                <string>{262,254}</string>
            </dict>
            <key>starlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{260,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,252}}</string>
                <key>sourceSize</key>
                <string>{260,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LvUpStar.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d14c22d573efe4a0a46fbed67db8967c$</string>
            <key>textureFileName</key>
            <string>LvUpStar.png</string>
        </dict>
    </dict>
</plist>
